  <form [formGroup]="formGroup" class="form">
    <mat-form-field class="formField-Categoria" appearance="outline">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="categoria">
        <mat-option *ngFor="let categoria of categoriasAlgoritmo" [value]="categoria">
          {{categoria}}
        </mat-option>
      </mat-select>
      <!-- <input formControlName="categoria" matInput id="Categoria" /> -->
    </mat-form-field>

    <mat-form-field class="formField-Descricao" appearance="outline">
      <mat-label>Descrição</mat-label>
      <input formControlName="descricao" matInput id="Descricao" />
    </mat-form-field>

    <mat-form-field class="formField-Complexidade" appearance="outline">
      <mat-label>Complexidade</mat-label>
      <input formControlName="complexidade" matInput id="Complexidade" />
    </mat-form-field>

    <mat-form-field class="formField-Linguagem" appearance="outline">
      <mat-label>Linguagem</mat-label>
      <input formControlName="linguagem" matInput id="Linguagem" />
    </mat-form-field>

    <mat-form-field class="formField-Autor" appearance="outline">
      <mat-label>Autor</mat-label>
      <input formControlName="autor" matInput id="Autor" />
    </mat-form-field>

    <mat-form-field class="formField-Codigo" appearance="outline">
      <mat-label>Codigo</mat-label>
      <textarea 
        formControlName="algoritmo"
        matInput 
        id="Codigo"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        ></textarea>
    </mat-form-field>

  </form>
<div mat-dialog-actions class="botao">
  <button mat-button (click)="onNoClick()">{{textoBotao}}</button>
</div>
