<mat-dialog-content class="content" >

  <form [formGroup]="formGroup" class="form">

    <mat-form-field class="formField-Atividade" appearance="outline">
      <mat-label>Atividade</mat-label>
      <input formControlName="atividade" matInput id="atividade" />
    </mat-form-field>

    <mat-form-field class="formField-Linguagem" appearance="outline">
      <mat-label>Linguagem</mat-label>
      <mat-select formControlName="linguagem" matInput id="linguagem" multiple>
        <mat-option *ngFor="let linguagem of linguagens" [value]="linguagem">
          {{linguagem}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div >
      <mat-form-field class="formField-Data" appearance="outline">
        <mat-label>Data</mat-label>
        <input formControlName="data" matInput id="data" />
      </mat-form-field>
    </div>
   
    <button mat-fab aria-label="Example icon button with a bookmark icon">
      <mat-icon>file_open</mat-icon>
    </button>
  </form>
</mat-dialog-content>
<div mat-dialog-actions class="botao">
  <button mat-button (click)="cadastrar()">Ok</button>
</div>

{{myfilename}}

<input type="file" id="fileUpload" (change)="fileChangeEvent($event)" name="fileUpload" multiple="multiple" />