.page{
    margin-left: 5px;
    margin-right: 5px;
}

.teste{
    margin-top: 15px;
  }

  table {
    margin-top: 15px;
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
  }

