@import "../../../../../theme.scss";

.card {
    background-color: white;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: black;
}

.filtro-componente {
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.filtro {
    display: flex;
    justify-content: space-between;
}

.formField {
    margin-right: 10px;
}

.botao {
    display: flex;
    justify-content: flex-end;

    .botao-limpar-filtros {
        margin-right: 15px;
        background: white;
        border: solid 1px #005e3b;
        color: #005e3b;
        height: 45px;
        
    }

    .botao-buscar {
        background: #005e3b;
        height: 45px;

        .texto{
            color: #FFFFFF;
        }
    }
}

::ng-deep .mat-form-field .mat-form-field-subscript-wrapper {
    height: 16px;
}

.page{
    margin-left: 5px;
    margin-right: 5px;
}

table {
    margin-top: 15px;
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
  }

